In [1]:
import pandas as pd
import numpy as np
import re
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 3)

In [23]:
RAW_FILE = '../../data/raw/W251 ML Covid Image Analysis_March 5, 2022_23.06.csv'
OUT_FILE = '../../data/interim/cdetect/corrected_dataset.csv'
df = pd.read_csv(RAW_FILE, header=0, skiprows=[1,2])
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,d_age_1,d_gender,d_vacc_status_1,d_race,d_race_6_TEXT,v_temp_unit,v_temp_c_1,v_temp_f_1,v_cough,s_antipyretic,s_odynophagia,s_odynophagia_days,s_dysphagia,s_dysphagia_days,t_rtpcr,t_rtpcr_date,t_ag,t_ag_date,t_med,d_dx,d_img1_Id,d_img1_Name,d_img1_Size,d_img1_Type,d_img2_Id,d_img2_Name,d_img2_Size,d_img2_Type,d_img3_Id,d_img3_Name,d_img3_Size,d_img3_Type,source
0,2022-02-06 13:57:32,2022-02-06 13:59:04,Survey Preview,NaN,100,91,True,2022-02-06 13:59:05,R_2b30KZiPb9AfAqB,NaN,NaN,NaN,NaN,47.587,-122.039,preview,EN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F_3kiHD0ZHiczR95f,WP_000215.jpg,5.667e+04,image/jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-10 18:11:11,2022-02-10 18:12:13,IP Address,172.226.6.21,100,62,True,2022-02-10 18:12:15,R_cHoU0OrlzVnbpIJ,NaN,NaN,NaN,NaN,34.054,-118.244,anonymous,EN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F_eG1AMXg7TDcp4NH,10E86F23-FEF0-4730-BF0B-047856305619.jpeg,2.014e+06,image/jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-11 20:33:40,2022-02-11 20:35:14,IP Address,98.203.232.40,100,93,True,2022-02-11 20:35:17,R_31pB9W7t53CMnvl,NaN,NaN,NaN,NaN,47.587,-122.039,anonymous,EN,50.0,Male,3.0,Asian,NaN,Fahrenheit,NaN,98.4,None,No,None,NaN,None,NaN,Not taken,NaN,Not taken,NaN,NaN,Normal,F_UPZDSsUUM05VdE5,20220211_193045.jpg,1.666e+06,image/jpeg,F_129EtL4sWo6Bn6T,20220211_193037.jpg,2.125e+06,image/jpeg,NaN,NaN,NaN,NaN,test
3,2022-02-11 20:41:55,2022-02-11 20:43:20,IP Address,98.203.232.40,100,84,True,2022-02-11 20:43:23,R_vpLYwUqW7mLyttn,NaN,NaN,NaN,NaN,47.587,-122.039,anonymous,EN,72.0,Female,3.0,Asian,NaN,Fahrenheit,NaN,98.4,None,No,None,NaN,None,NaN,Not taken,NaN,Not taken,NaN,NaN,Normal,F_2YzZN9NmVK7gTrH,20220211_192942.jpg,1.551e+06,image/jpeg,F_3Gyd8bY2uxrkuFj,20220211_192931.jpg,1.496e+06,image/jpeg,F_27PPpkHFKjkfqrQ,20220211_192931.jpg,1.496e+06,image/jpeg,test
4,2022-02-11 21:11:38,2022-02-11 21:14:00,IP Address,71.191.163.55,100,142,True,2022-02-11 21:14:03,R_1P7Ds55gFHWBsAe,NaN,NaN,NaN,NaN,38.565,-77.288,anonymous,EN,45.0,Male,3.0,Black or African American,NaN,Fahrenheit,NaN,98.7,None,No,None,NaN,None,NaN,Not taken,NaN,Not taken,NaN,NaN,Normal,F_2OI2GsyM6hCSN5V,IMG_8144.jpg,1.193e+05,image/jpeg,F_2TzaAZd8V2csgSV,IMG_8142.jpg,3.030e+05,image/jpeg,F_1ly25ImRHth7IUo,IMG_8141.jpg,6.112e+04,image/jpeg,test

Check the column names and find relevant fields only

In [3]:
df_cols = list(df.columns)
df_cols

['StartDate',
 'EndDate',
 'Status',
 'IPAddress',
 'Progress',
 'Duration (in seconds)',
 'Finished',
 'RecordedDate',
 'ResponseId',
 'RecipientLastName',
 'RecipientFirstName',
 'RecipientEmail',
 'ExternalReference',
 'LocationLatitude',
 'LocationLongitude',
 'DistributionChannel',
 'UserLanguage',
 'd_age_1',
 'd_gender',
 'd_vacc_status_1',
 'd_race',
 'd_race_6_TEXT',
 'v_temp_unit',
 'v_temp_c_1',
 'v_temp_f_1',
 'v_cough',
 's_antipyretic',
 's_odynophagia',
 's_odynophagia_days',
 's_dysphagia',
 's_dysphagia_days',
 't_rtpcr',
 't_rtpcr_date',
 't_ag',
 't_ag_date',
 't_med',
 'd_dx',
 'd_img1_Id',
 'd_img1_Name',
 'd_img1_Size',
 'd_img1_Type',
 'd_img2_Id',
 'd_img2_Name',
 'd_img2_Size',
 'd_img2_Type',
 'd_img3_Id',
 'd_img3_Name',
 'd_img3_Size',
 'd_img3_Type',
 'source']

We don't need most of the fields from Qualtrics except `ResponseId`. Also, pull the label column upfront for easy visualization

In [4]:

req_columns = ['d_dx','ResponseId']

d_cols = [c for c in df_cols if c[1] == '_' and c != 'd_dx'] 
req_columns.extend(d_cols)
ren_columns = [c if not c.endswith('_1') else c[:-2] for c in req_columns ]

In [5]:
df = df[req_columns]
print(f"DataFrame object now has {df.shape[0]} rows and {df.shape[1]} columns")
df.columns = ren_columns
df.describe()

DataFrame object now has 142 rows and 33 columns

,d_age,d_vacc_status,v_temp_c,v_temp_f,s_odynophagia_days,s_dysphagia_days,d_img1_Size,d_img2_Size,d_img3_Size
count,140.000,36.000,135.000,5.000,11.000,10.000,1.380e+02,3.000e+01,1.800e+01
mean,38.186,2.167,37.113,98.460,8.091,8.800,5.423e+05,1.413e+06,1.466e+06
std,19.034,0.941,0.756,0.134,4.847,5.007,1.529e+06,7.053e+05,8.545e+05
min,7.000,0.000,35.700,98.400,3.000,2.000,1.170e+04,1.398e+04,6.112e+04
25%,23.000,2.000,36.600,98.400,5.000,5.250,2.044e+04,9.810e+05,9.584e+05
50%,36.000,2.000,37.000,98.400,6.000,8.500,3.013e+04,1.379e+06,1.368e+06
75%,50.250,3.000,37.500,98.400,12.000,13.000,8.084e+05,1.650e+06,1.615e+06
max,91.000,3.000,40.200,98.700,16.000,16.000,1.619e+07,3.549e+06,3.571e+06

In [6]:
def eda(df,col_names=None, row_width=60 ):
    columns = list(df.columns) if col_names is None else col_names
    print('='*row_width)
    print('df')
    print(f"{len(columns)} Reported \t{df.shape[1]} Columns\t{df.shape[0]} Rows" )
    d_res = pd.DataFrame()
    for i,col in enumerate(columns):
        res = {}
        print('-'*row_width)
        dtype_name = df[col].dtype 
        res['dtype'] = dtype_name
        res['n'] = df[col].count()
        res['NaN'] = df[col].isnull().sum()
        res['unique'] = len(df[col].unique())
        print(f"  {col}")
        d_col = pd.DataFrame([res],index=[col])
        
        print(d_col.to_string(index=False))
        if res['unique'] < 15 or dtype_name == 'object':
            d_col_counts = df[col].value_counts(dropna=False)
            d_col_counts.name = 'Count'
            d_col_freq = df[col].value_counts(dropna=False, normalize=True)
            d_col_freq.name = 'Freq'
            df_col = pd.concat([d_col_counts,d_col_freq],axis=1)
            df_col = df_col.transpose()
            df_col.columns = [str(c)[:8] + ".." if len(str(c)) > 8 else str(c)[:8] for c in df_col.columns]
            if res['unique'] > 10:
                df_col_1 = df_col.iloc[:,:5]
                df_col_2 = df_col.iloc[:,-5:] 
                df_col = df_col_1.join(df_col_2, lsuffix='_1',rsuffix='_2')
            print(df_col.to_string())
            res['mode'] = df[col].dropna().mode()
        if dtype_name == "float":
            res['min'] = df[col].dropna().min()
            res['median'] = df[col].dropna().median()
            res['mode'] = df[col].dropna().mode()
            res['max'] = df[col].dropna().max()
        d_col = pd.DataFrame([res],index = [col])
        d_res = pd.concat([d_res,d_col])

    print('='*row_width)
    return d_res

In [7]:
eda(df)

============================================================
df
33 Reported 	33 Columns	142 Rows
------------------------------------------------------------
  d_dx
  dtype    n  NaN  unique
 object  136    6       6
       Normal  Bacteria..   Covid  Viral    nan  Other
Count  53.000      49.000  24.000  7.000  6.000  3.000
Freq    0.373       0.345   0.169  0.049  0.042  0.021
------------------------------------------------------------
  ResponseId
  dtype    n  NaN  unique
 object  142    0     142
       R_2a9MEx..  R_3KIM2A..  R_3ek0NZ..  R_x431CM..  R_3PnPgE..  R_bvyd8M..  R_1joCAO..  R_OKnyQW..  R_3PzzY6..  R_psEraL..
Count       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq        0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_age
   dtype    n  NaN  unique
 float64  140    2      58
------------------------------------------------------------
  d_gender
  dtype    n  NaN  unique
 object  137    5       3
         Male  Female    nan
Count  69.000  68.000  5.000
Freq    0.486   0.479  0.035
------------------------------------------------------------
  d_vacc_status
   dtype   n  NaN  unique
 float64  36  106       5
           nan     3.0     2.0    1.0    0.0
Count  106.000  16.000  13.000  4.000  3.000
Freq     0.746   0.113   0.092  0.028  0.021
------------------------------------------------------------
  d_race
  dtype    n  NaN  unique
 object  138    4       5
         Other   White  Asian    nan  Black or..
Count  116.000  13.000  6.000  4.000       3.000
Freq     0.817   0.092  0.042  0.028       0.021
------------------------------------------------------------
  d_race_6_TEXT
  dtype  n  NaN  unique
 object  8  134       3
           nan  Hispanic..  Latin
Count  134.000       6.000  2.000
Freq     0.944       0.042  0.014
------------------------------------------------------------
  v_temp_unit
  dtype    n  NaN  unique
 object  140    2       3
       Celsius  Fahrenhe..    nan
Count  135.000       5.000  2.000
Freq     0.951       0.035  0.014
------------------------------------------------------------
  v_temp_c
   dtype    n  NaN  unique
 float64  135    7      32
------------------------------------------------------------
  v_temp_f
   dtype  n  NaN  unique
 float64  5  137       3
           nan   98.4   98.7
Count  137.000  4.000  1.000
Freq     0.965  0.028  0.007
------------------------------------------------------------
  v_cough
  dtype    n  NaN  unique
 object  140    2       4
         None     Dry     Wet    nan
Count  85.000  30.000  25.000  2.000
Freq    0.599   0.211   0.176  0.014
------------------------------------------------------------
  s_antipyretic
  dtype    n  NaN  unique
 object  140    2       3
          No     Yes    nan
Count  81.00  59.000  2.000
Freq    0.57   0.415  0.014
------------------------------------------------------------
  s_odynophagia
  dtype    n  NaN  unique
 object  140    2       5
         None    High  Medium     Low    nan
Count  76.000  33.000   17.00  14.000  2.000
Freq    0.535   0.232    0.12   0.099  0.014
------------------------------------------------------------
  s_odynophagia_days
   dtype   n  NaN  unique
 float64  11  131       9
           nan    5.0    3.0   15.0    7.0   10.0   14.0    6.0   16.0
Count  131.000  3.000  2.000  1.000  1.000  1.000  1.000  1.000  1.000
Freq     0.923  0.021  0.014  0.007  0.007  0.007  0.007  0.007  0.007
------------------------------------------------------------
  s_dysphagia
  dtype    n  NaN  unique
 object  140    2       5
         None    High    Low  Medium    nan
Count  78.000  28.000  17.00   17.00  2.000
Freq    0.549   0.197   0.12    0.12  0.014
------------------------------------------------------------
  s_dysphagia_days
   dtype   n  NaN  unique
 float64  10  132      10
          nan   10.0    3.0   15.0    5.0    7.0    2.0   14.0    6.0   16.0
Count  132.00  2.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
Freq     0.93  0.014  0.007  0.007  0.007  0.007  0.007  0.007  0.007  0.007
------------------------------------------------------------
  t_rtpcr
  dtype    n  NaN  unique
 object  140    2       5
       Not take..  Positive  Pending  Negative    nan
Count     126.000     8.000    3.000     3.000  2.000
Freq        0.887     0.056    0.021     0.021  0.014
------------------------------------------------------------
  t_rtpcr_date
  dtype   n  NaN  unique
 object  14  128      11
           nan  02-11-20..  02-15-20..  02-17-20..  02-07-20..  02-10-20..  02-16-20..  02-08-20..  03-01-20..  02-12-20..
Count  128.000       4.000       2.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.901       0.028       0.014       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  t_ag
  dtype    n  NaN  unique
 object  140    2       5
       Not take..  Positive    nan  Pending  Negative
Count     120.000    18.000  2.000    1.000     1.000
Freq        0.845     0.127  0.014    0.007     0.007
------------------------------------------------------------
  t_ag_date
  dtype   n  NaN  unique
 object  20  122      14
           nan  02-07-20..  02-15-20..  02-17-20..  02-16-20..  02-06-20..  03-01-20..  02-02-20..  02-11-20..  01-31-20..
Count  122.000       3.000       3.000       2.000       2.000       1.000       1.000       1.000       1.000       1.000
Freq     0.859       0.021       0.021       0.014       0.014       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  t_med
  dtype   n  NaN  unique
 object  24  118      23
           nan  antibiot..   None  baricici..  insulin  Omeprazo..  anticoag..  Dexameta..  Anticoag..  anticoag..
Count  118.000       2.000  2.000       1.000    1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.831       0.014  0.014       0.007    0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img1_Id
  dtype    n  NaN  unique
 object  138    4     139
         nan  F_3lt85J..  F_21go5F..  F_2TsHFn..  F_dmP5Nq..  F_3Rg7Dx..  F_1Oq601..  F_3R2dwL..  F_0Bsee1..  F_2EyPyL..
Count  4.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq   0.028       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img1_Name
  dtype    n  NaN  unique
 object  138    4     132
         nan  3t5yu945..  4ffbg32f..  5germ6hy..  4fbgdbre..  IMG_8144..  b09.JPG  16449849..  adsfgker..  5tgbhhgf..
Count  4.000       2.000       2.000       2.000       2.000       1.000    1.000       1.000       1.000       1.000
Freq   0.028       0.014       0.014       0.014       0.014       0.007    0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img1_Size
   dtype    n  NaN  unique
 float64  138    4     132
------------------------------------------------------------
  d_img1_Type
  dtype    n  NaN  unique
 object  138    4       3
       image/jp..  image/he..    nan
Count     117.000      21.000  4.000
Freq        0.824       0.148  0.028
------------------------------------------------------------
  d_img2_Id
  dtype   n  NaN  unique
 object  30  112      31
           nan  F_1CIz9H..  F_AnDeMA..  F_9n3LPN..  F_2q4tmV..  F_Ua5OsE..  F_3Mu7J7..  F_u4VSYQ..  F_2dDO6c..  F_2uy77E..
Count  112.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.789       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img2_Name
  dtype   n  NaN  unique
 object  30  112      31
           nan  20220301..  IMG_7680..  b10.JPG  IMG_7710..  IMG-2022..  16461776..  IMG_7687..  IMG_7671..  IMG_7689..
Count  112.000       1.000       1.000    1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.789       0.007       0.007    0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img2_Size
   dtype   n  NaN  unique
 float64  30  112      31
------------------------------------------------------------
  d_img2_Type
  dtype   n  NaN  unique
 object  30  112       3
           nan  image/he..  image/jp..
Count  112.000      19.000      11.000
Freq     0.789       0.134       0.077
------------------------------------------------------------
  d_img3_Id
  dtype   n  NaN  unique
 object  18  124      19
           nan  F_32KLMt..  F_cwLQhF..  F_3KC6ZI..  F_1DZOId..  F_xg6ODW..  F_XiXwrd..  F_3Mbs2X..  F_1ikhJ9..  F_3nCSdA..
Count  124.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.873       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img3_Name
  dtype   n  NaN  unique
 object  18  124      19
           nan  IMG_7670..  IMG_7717..  IMG_7698..  16461774..  IMG_7720..  IMG_7714..  IMG_7695..  20220211..  IMG_7658..
Count  124.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.873       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img3_Size
   dtype   n  NaN  unique
 float64  18  124      19
------------------------------------------------------------
  d_img3_Type
  dtype   n  NaN  unique
 object  18  124       3
           nan  image/he..  image/jp..
Count  124.000      12.000       6.000
Freq     0.873       0.085       0.042
============================================================

,dtype,n,NaN,unique,mode,min,median,max
d_dx,object,136,6,6,0 Normal dtype: object,NaN,NaN,NaN
ResponseId,object,142,0,142,0 R_0dE4arEYyn9VJOV 1 R_10vi04lh64FG...,NaN,NaN,NaN
d_age,float64,140,2,58,0 36.0 dtype: float64,7.0,3.600e+01,9.100e+01
d_gender,object,137,5,3,0 Male dtype: object,NaN,NaN,NaN
d_vacc_status,float64,36,106,5,0 3.0 dtype: float64,0.0,2.000e+00,3.000e+00
d_race,object,138,4,5,0 Other dtype: object,NaN,NaN,NaN
d_race_6_TEXT,object,8,134,3,0 Hispanic dtype: object,NaN,NaN,NaN
v_temp_unit,object,140,2,3,0 Celsius dtype: object,NaN,NaN,NaN
v_temp_c,float64,135,7,32,0 37.0 dtype: float64,35.7,3.700e+01,4.020e+01
v_temp_f,float64,5,137,3,0 98.4 dtype: float64,98.4,9.840e+01,9.870e+01
v_cough,object,140,2,4,0 None dtype: object,NaN,NaN,NaN
s_antipyretic,object,140,2,3,0 No dtype: object,NaN,NaN,NaN
s_odynophagia,object,140,2,5,0 None dtype: object,NaN,NaN,NaN
s_odynophagia_days,float64,11,131,9,0 5.0 dtype: float64,3.0,6.000e+00,1.600e+01
s_dysphagia,object,140,2,5,0 None dtype: object,NaN,NaN,NaN
s_dysphagia_days,float64,10,132,10,0 10.0 dtype: float64,2.0,8.500e+00,1.600e+01
t_rtpcr,object,140,2,5,0 Not taken dtype: object,NaN,NaN,NaN
t_rtpcr_date,object,14,128,11,0 02-11-2022 dtype: object,NaN,NaN,NaN
t_ag,object,140,2,5,0 Not taken dtype: object,NaN,NaN,NaN
t_ag_date,object,20,122,14,0 02-07-2022 1 02-15-2022 dtype: object,NaN,NaN,NaN
t_med,object,24,118,23,0 None 1 antibioti...,NaN,NaN,NaN
d_img1_Id,object,138,4,139,0 F_0Bsee1IehgKF3zj 1 F_0HAsc5XSeGVX...,NaN,NaN,NaN
d_img1_Name,object,138,4,132,0 3fevf4tefrvfdfwe.JPG 1 3t5yu945y6h...,NaN,NaN,NaN
d_img1_Size,float64,138,4,132,0 11958.0 1 16797.0 2 19795.0 3 20...,11702.0,3.013e+04,1.619e+07
d_img1_Type,object,138,4,3,0 image/jpeg dtype: object,NaN,NaN,NaN
d_img2_Id,object,30,112,31,0 F_129EtL4sWo6Bn6T 1 F_1CIz9HQ9BJBlGo...,NaN,NaN,NaN
d_img2_Name,object,30,112,31,0 16449851862167452901997722231312.jpg 1 ...,NaN,NaN,NaN
d_img2_Size,float64,30,112,31,0 1.398e+04 1 3.030e+05 2 7.738e+0...,13980.0,1.379e+06,3.549e+06
d_img2_Type,object,30,112,3,0 image/heic dtype: object,NaN,NaN,NaN
d_img3_Id,object,18,124,19,0 F_1DZOIddCfLkFmN8 1 F_1ikhJ9vO7fPaTA...,NaN,NaN,NaN
d_img3_Name,object,18,124,19,0 16461774307133786697549370994638.jpg 1 ...,NaN,NaN,NaN
d_img3_Size,float64,18,124,19,0 6.112e+04 1 3.354e+05 2 7.912e+0...,61125.0,1.368e+06,3.571e+06
d_img3_Type,object,18,124,3,0 image/heic dtype: object,NaN,NaN,NaN

Based on the EDA we observe the following:
Data Structure:

- **Prescription** `d_dx` has 6 Non-Numeric values. Some of the test data was incorrectl included into the download and these values should be dropped.
- **Age, Gender, Race, Cough, Antipyertic (fever reducing medicines), Odynophagia (Painful Swallowing), Dysphagia (Difficulty Swallowing), RTPCR Test, Antigen (AG Test)** each have less than 6 records with invalid values. If all of these records overlap if `d_dx` value, then we can safely drop the values. 
- **Image 1 ID** has 4 fields without value, hence excluding test surveys all records appear to have at least one image. 
- There are 30 records with 2 images and only 18 with 3 images for the same patient.

Drop the records with NaN and check again.

In [17]:

dropNAColumns = ['d_age', 'd_dx']

df_clean = df.dropna(subset=dropNAColumns)
df_clean.reset_index(drop=True, inplace=True)
# Vaccination record is assumed to be non-vaccinated if user doesn't confirm
df_clean.loc[:,'d_vacc_status'] = df_clean['d_vacc_status'].fillna(0)

/home/rmadhira86/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Race, if Other has a text specified, then use that value.

In [18]:
df_clean.loc[(df_clean['d_race'] == "Other") & (df_clean['d_race_6_TEXT'].notna()), 'd_race'] = df_clean['d_race_6_TEXT']

Convert all the temperatures to Fahrenherit

In [19]:
df_clean['v_temperature'] = np.where(df_clean['v_temp_unit'] == 'Celsius', round(df_clean['v_temp_c']*1.8 +32 ,1), df_clean['v_temp_f'])

<ipython-input-19-0485d0150762>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['v_temperature'] = np.where(df_clean['v_temp_unit'] == 'Celsius', round(df_clean['v_temp_c']*1.8 +32 ,1), df_clean['v_temp_f'])

In [20]:
df_clean = df_clean.replace({
                 'd_dx':{"normal":0,"bacterial":1,"covid":2},
                 'd_gender':{'Male':-1,'Female':1},
                 's_antipyretic': {"No":0,"Yes":1},
                 's_odynophagia': {'None':0, 'Low':1, 'Medium':2,'High':3},
                 's_dysphagia' : {'None':0, 'Low':1, 'Medium':2,'High':3}})

In [21]:
df_clean['t_med2'] = [str.split(
    re.sub(r'^\s+|\s+$',  '',
        re.sub(r',[,\s]', ',',
               str(x).lower().replace(' and ',',').replace('antibiotics','antibiotic')
               )),
    ',')
  for x in df_clean['t_med']]
df_med = df_clean['t_med2'].explode().str.get_dummies().sum(level=0).add_prefix('t_med_')
df_clean = df_clean.join(df_med)
df_clean.head()

,d_dx,ResponseId,d_age,d_gender,d_vacc_status,d_race,d_race_6_TEXT,v_temp_unit,v_temp_c,v_temp_f,v_cough,s_antipyretic,s_odynophagia,s_odynophagia_days,s_dysphagia,s_dysphagia_days,t_rtpcr,t_rtpcr_date,t_ag,t_ag_date,t_med,d_img1_Id,d_img1_Name,d_img1_Size,d_img1_Type,d_img2_Id,d_img2_Name,d_img2_Size,d_img2_Type,d_img3_Id,d_img3_Name,d_img3_Size,d_img3_Type,v_temperature,t_med2,t_med_acetilcistein,t_med_acetoaminophen,t_med_advil,t_med_alprazolam,t_med_amlopine,t_med_antibiotic,t_med_anticoagulant,t_med_antifungal,t_med_antiinflamatory,t_med_antitusigen,t_med_atorvastantine,t_med_atorvastatine,t_med_baricicitinib,t_med_baricitinib,t_med_bariticinib,t_med_bisoproplol,t_med_cough drops,t_med_cough syrup,t_med_dexametasone,t_med_dexametosone,t_med_diclofenaco,t_med_duloxtine,t_med_enalapril,t_med_eritropoietin,t_med_guafenesina,t_med_heparin,t_med_heparine,t_med_iantiviral,t_med_insulin,t_med_insuline,t_med_losartan,t_med_nan,t_med_none,t_med_omeprazole,t_med_retroviral,t_med_telmisartan,t_med_troferit
0,Normal,R_31pB9W7t53CMnvl,50.0,0.0,3.0,Asian,NaN,Fahrenheit,NaN,98.4,None,0,0,NaN,0,NaN,Not taken,NaN,Not taken,NaN,NaN,F_UPZDSsUUM05VdE5,20220211_193045.jpg,1.666e+06,image/jpeg,F_129EtL4sWo6Bn6T,20220211_193037.jpg,2.125e+06,image/jpeg,NaN,NaN,NaN,NaN,98.4,[nan],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,Normal,R_vpLYwUqW7mLyttn,72.0,1.0,3.0,Asian,NaN,Fahrenheit,NaN,98.4,None,0,0,NaN,0,NaN,Not taken,NaN,Not taken,NaN,NaN,F_2YzZN9NmVK7gTrH,20220211_192942.jpg,1.551e+06,image/jpeg,F_3Gyd8bY2uxrkuFj,20220211_192931.jpg,1.496e+06,image/jpeg,F_27PPpkHFKjkfqrQ,20220211_192931.jpg,1.496e+06,image/jpeg,98.4,[nan],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,Normal,R_1P7Ds55gFHWBsAe,45.0,0.0,3.0,Black or African American,NaN,Fahrenheit,NaN,98.7,None,0,0,NaN,0,NaN,Not taken,NaN,Not taken,NaN,NaN,F_2OI2GsyM6hCSN5V,IMG_8144.jpg,1.193e+05,image/jpeg,F_2TzaAZd8V2csgSV,IMG_8142.jpg,3.030e+05,image/jpeg,F_1ly25ImRHth7IUo,IMG_8141.jpg,6.112e+04,image/jpeg,98.7,[nan],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,Other,R_32SoCpPkA0chwa7,53.0,0.0,1.0,Other,NaN,Celsius,38.4,NaN,None,0,0,NaN,0,NaN,Negative,02-12-2022,Not taken,NaN,None,F_2tzLYf61Avt2Cht,7380641B-7A31-4EC6-B017-53928B96E2F2.jpeg,2.054e+06,image/jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.1,[none],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Normal,R_10vi04lh64FGSvp,23.0,0.0,3.0,White,NaN,Celsius,36.6,NaN,None,0,0,NaN,0,NaN,Negative,02-10-2022,Not taken,NaN,NaN,F_1dtz2Z4xWxQURGl,4AF218E5-8F2C-4865-AAA6-AD515C76F83D.jpeg,2.262e+06,image/jpeg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.9,[nan],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [13]:
df_clean_cols = df_clean.columns
req_cols = ['d_dx','ResponseId','d_age','d_gender','d_vacc_status','d_race','v_temperature', 'v_cough']
symptom_cols = [c for c in df_clean_cols if c.startswith('s_') and not 'day' in c] 
treat_cols = [c for c in df_clean_cols if c.startswith('t_') and not 'date' in c and not 'med' in c] 
med_cols = [c for c in df_clean_cols if c.startswith('t_med_')]
final_cols = req_cols + symptom_cols + treat_cols + med_cols

In [16]:
df_final = df_clean[final_cols]
eda(df_final, req_cols+symptom_cols+treat_cols)

============================================================
df
13 Reported 	50 Columns	135 Rows
------------------------------------------------------------
  d_dx
  dtype    n  NaN  unique
 object  135    0       5
       Normal  Bacteria..   Covid  Viral  Other
Count  52.000      49.000  24.000  7.000  3.000
Freq    0.385       0.363   0.178  0.052  0.022
------------------------------------------------------------
  ResponseId
  dtype    n  NaN  unique
 object  135    0     135
       R_2a9MEx..  R_3PnPgE..  R_1hyACv..  R_WwBuk2..  R_3lRoIs..  R_3m4zjQ..  R_231ylo..  R_bvyd8M..  R_1joCAO..  R_psEraL..
Count       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq        0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_age
   dtype    n  NaN  unique
 float64  135    0      54
------------------------------------------------------------
  d_gender
   dtype    n  NaN  unique
 float64  134    1       3
          1.0     0.0    nan
Count  67.000  67.000  1.000
Freq    0.496   0.496  0.007
------------------------------------------------------------
  d_vacc_status
   dtype    n  NaN  unique
 float64  135    0       4
          0.0     3.0     2.0    1.0
Count  104.00  15.000  13.000  3.000
Freq     0.77   0.111   0.096  0.022
------------------------------------------------------------
  d_race
  dtype    n  NaN  unique
 object  135    0       6
         Other   White  Hispanic..  Asian  Black or..  Latin
Count  106.000  13.000       6.000  5.000       3.000  2.000
Freq     0.785   0.096       0.044  0.037       0.022  0.015
------------------------------------------------------------
  v_temperature
   dtype    n  NaN  unique
 float64  135    0      32
------------------------------------------------------------
  v_cough
  dtype    n  NaN  unique
 object  135    0       3
       None     Dry     Wet
Count  81.0  30.000  24.000
Freq    0.6   0.222   0.178
------------------------------------------------------------
  s_antipyretic
 dtype    n  NaN  unique
 int64  135    0       2
           0      1
Count  77.00  58.00
Freq    0.57   0.43
------------------------------------------------------------
  s_odynophagia
 dtype    n  NaN  unique
 int64  135    0       4
            0       3       2       1
Count  72.000  33.000  16.000  14.000
Freq    0.533   0.244   0.119   0.104
------------------------------------------------------------
  s_dysphagia
 dtype    n  NaN  unique
 int64  135    0       4
            0       3       2       1
Count  74.000  28.000  17.000  16.000
Freq    0.548   0.207   0.126   0.119
------------------------------------------------------------
  t_rtpcr
  dtype    n  NaN  unique
 object  135    0       4
       Not take..  Positive  Pending  Negative
Count     121.000     8.000    3.000     3.000
Freq        0.896     0.059    0.022     0.022
------------------------------------------------------------
  t_ag
  dtype    n  NaN  unique
 object  135    0       4
       Not take..  Positive  Pending  Negative
Count     116.000    17.000    1.000     1.000
Freq        0.859     0.126    0.007     0.007
============================================================

,dtype,n,NaN,unique,mode,min,median,max
d_dx,object,135,0,5,0 Normal dtype: object,NaN,NaN,NaN
ResponseId,object,135,0,135,0 R_0dE4arEYyn9VJOV 1 R_10vi04lh64FG...,NaN,NaN,NaN
d_age,float64,135,0,54,0 36.0 dtype: float64,13.0,36.0,91.0
d_gender,float64,134,1,3,0 0.0 1 1.0 dtype: float64,0.0,0.5,1.0
d_vacc_status,float64,135,0,4,0 0.0 dtype: float64,0.0,0.0,3.0
d_race,object,135,0,6,0 Other dtype: object,NaN,NaN,NaN
v_temperature,float64,135,0,32,0 98.6 dtype: float64,96.3,98.4,104.4
v_cough,object,135,0,3,0 None dtype: object,NaN,NaN,NaN
s_antipyretic,int64,135,0,2,0 0 dtype: int64,NaN,NaN,NaN
s_odynophagia,int64,135,0,4,0 0 dtype: int64,NaN,NaN,NaN
s_dysphagia,int64,135,0,4,0 0 dtype: int64,NaN,NaN,NaN
t_rtpcr,object,135,0,4,0 Not taken dtype: object,NaN,NaN,NaN
t_ag,object,135,0,4,0 Not taken dtype: object,NaN,NaN,NaN

In [25]:
df_final.to_csv(OUT_FILE, index=False)