In [73]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 3)

In [4]:
RAW_FILE = '../../data/raw/W251 ML Covid Image Analysis_March 5, 2022_23.06.csv'
df = pd.read_csv(RAW_FILE, header=0, skiprows=[1,2])

Check the column names and find relevant fields only

In [6]:
df_cols = list(df.columns)
df_cols

['StartDate',
 'EndDate',
 'Status',
 'IPAddress',
 'Progress',
 'Duration (in seconds)',
 'Finished',
 'RecordedDate',
 'ResponseId',
 'RecipientLastName',
 'RecipientFirstName',
 'RecipientEmail',
 'ExternalReference',
 'LocationLatitude',
 'LocationLongitude',
 'DistributionChannel',
 'UserLanguage',
 'd_age_1',
 'd_gender',
 'd_vacc_status_1',
 'd_race',
 'd_race_6_TEXT',
 'v_temp_unit',
 'v_temp_c_1',
 'v_temp_f_1',
 'v_cough',
 's_antipyretic',
 's_odynophagia',
 's_odynophagia_days',
 's_dysphagia',
 's_dysphagia_days',
 't_rtpcr',
 't_rtpcr_date',
 't_ag',
 't_ag_date',
 't_med',
 'd_dx',
 'd_img1_Id',
 'd_img1_Name',
 'd_img1_Size',
 'd_img1_Type',
 'd_img2_Id',
 'd_img2_Name',
 'd_img2_Size',
 'd_img2_Type',
 'd_img3_Id',
 'd_img3_Name',
 'd_img3_Size',
 'd_img3_Type',
 'source']

We don't need most of the fields from Qualtrics except `ResponseId`. Also, pull the label column upfront for easy visualization

In [20]:

req_columns = ['d_dx','ResponseId']

d_cols = [c for c in df_cols if c[1] == '_' and c != 'd_dx'] 
req_columns.extend(d_cols)

In [25]:
df = df[req_columns]
print(f"DataFrame object now has {df.shape[0]} rows and {df.shape[1]} columns")
df.describe()

DataFrame object now has 142 rows and 33 columns

,d_age_1,d_vacc_status_1,v_temp_c_1,v_temp_f_1,s_odynophagia_days,s_dysphagia_days,d_img1_Size,d_img2_Size,d_img3_Size
count,140.000000,36.000000,135.000000,5.000000,11.000000,10.000000,1.380000e+02,3.000000e+01,1.800000e+01
mean,38.185714,2.166667,37.112593,98.460000,8.090909,8.800000,5.422573e+05,1.413368e+06,1.466108e+06
std,19.034080,0.941124,0.756211,0.134164,4.846742,5.006662,1.528889e+06,7.052928e+05,8.545069e+05
min,7.000000,0.000000,35.700000,98.400000,3.000000,2.000000,1.170200e+04,1.398000e+04,6.112500e+04
25%,23.000000,2.000000,36.600000,98.400000,5.000000,5.250000,2.043500e+04,9.810100e+05,9.584202e+05
50%,36.000000,2.000000,37.000000,98.400000,6.000000,8.500000,3.013150e+04,1.379062e+06,1.368224e+06
75%,50.250000,3.000000,37.500000,98.400000,12.000000,13.000000,8.084400e+05,1.650375e+06,1.615349e+06
max,91.000000,3.000000,40.200000,98.700000,16.000000,16.000000,1.618552e+07,3.548658e+06,3.571281e+06

In [107]:
def eda(df,col_names=None, row_width=60 ):
    columns = list(df.columns) if col_names is None else col_names
    print('='*row_width)
    print('df')
    print(f"{len(columns)} Reported \t{df.shape[1]} Columns\t{df.shape[0]} Rows" )
    for i,col in enumerate(columns):
        res = {}
        print('-'*row_width)
        dtype_name = df[col].dtype 
        res['n'] = df[col].count()
        res['NaN'] = df[col].isnull().sum()
        res['unique'] = len(df[col].unique())
        print(f"  {col}")
        d_col = pd.DataFrame([res])
        print(d_col.to_string(index=False))
        if res['unique'] < 15 or dtype_name == 'object':
            d_col_counts = df[col].value_counts(dropna=False)
            d_col_counts.name = 'Count'
            d_col_freq = df[col].value_counts(dropna=False, normalize=True)
            d_col_freq.name = 'Freq'
            df_col = pd.concat([d_col_counts,d_col_freq],axis=1)
            df_col = df_col.transpose()
            df_col.columns = [str(c)[:8] + ".." if len(str(c)) > 8 else str(c)[:8] for c in df_col.columns]
            if res['unique'] > 10:
                df_col_1 = df_col.iloc[:,:5]
                df_col_2 = df_col.iloc[:,-5:] 
                df_col = df_col_1.join(df_col_2, lsuffix='_1',rsuffix='_2')
            print(df_col.to_string())

    print('='*row_width)

In [110]:
eda(df)

============================================================
df
33 Reported 	33 Columns	142 Rows
------------------------------------------------------------
  d_dx
   n  NaN  unique
 136    6       6
       Normal  Bacteria..   Covid  Viral    nan  Other
Count  53.000      49.000  24.000  7.000  6.000  3.000
Freq    0.373       0.345   0.169  0.049  0.042  0.021
------------------------------------------------------------
  ResponseId
   n  NaN  unique
 142    0     142
       R_Rylt07..  R_1E0ckj..  R_2b30KZ..  R_1dfXGn..  R_b3leKF..  R_1LkxHX..  R_1Cwqmo..  R_8J4qzo..  R_32Yi86..  R_2Se2TY..
Count       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq        0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_age_1
   n  NaN  unique
 140    2      58
------------------------------------------------------------
  d_gender
   n  NaN  unique
 137    5       3
         Male  Female    nan
Count  69.000  68.000  5.000
Freq    0.486   0.479  0.035
------------------------------------------------------------
  d_vacc_status_1
  n  NaN  unique
 36  106       5
           nan     3.0     2.0    1.0    0.0
Count  106.000  16.000  13.000  4.000  3.000
Freq     0.746   0.113   0.092  0.028  0.021
------------------------------------------------------------
  d_race
   n  NaN  unique
 138    4       5
         Other   White  Asian    nan  Black or..
Count  116.000  13.000  6.000  4.000       3.000
Freq     0.817   0.092  0.042  0.028       0.021
------------------------------------------------------------
  d_race_6_TEXT
 n  NaN  unique
 8  134       3
           nan  Hispanic..  Latin
Count  134.000       6.000  2.000
Freq     0.944       0.042  0.014
------------------------------------------------------------
  v_temp_unit
   n  NaN  unique
 140    2       3
       Celsius  Fahrenhe..    nan
Count  135.000       5.000  2.000
Freq     0.951       0.035  0.014
------------------------------------------------------------
  v_temp_c_1
   n  NaN  unique
 135    7      32
------------------------------------------------------------
  v_temp_f_1
 n  NaN  unique
 5  137       3
           nan   98.4   98.7
Count  137.000  4.000  1.000
Freq     0.965  0.028  0.007
------------------------------------------------------------
  v_cough
   n  NaN  unique
 140    2       4
         None     Dry     Wet    nan
Count  85.000  30.000  25.000  2.000
Freq    0.599   0.211   0.176  0.014
------------------------------------------------------------
  s_antipyretic
   n  NaN  unique
 140    2       3
          No     Yes    nan
Count  81.00  59.000  2.000
Freq    0.57   0.415  0.014
------------------------------------------------------------
  s_odynophagia
   n  NaN  unique
 140    2       5
         None    High  Medium     Low    nan
Count  76.000  33.000   17.00  14.000  2.000
Freq    0.535   0.232    0.12   0.099  0.014
------------------------------------------------------------
  s_odynophagia_days
  n  NaN  unique
 11  131       9
           nan    5.0    3.0   15.0    7.0   10.0   14.0    6.0   16.0
Count  131.000  3.000  2.000  1.000  1.000  1.000  1.000  1.000  1.000
Freq     0.923  0.021  0.014  0.007  0.007  0.007  0.007  0.007  0.007
------------------------------------------------------------
  s_dysphagia
   n  NaN  unique
 140    2       5
         None    High  Medium    Low    nan
Count  78.000  28.000   17.00  17.00  2.000
Freq    0.549   0.197    0.12   0.12  0.014
------------------------------------------------------------
  s_dysphagia_days
  n  NaN  unique
 10  132      10
          nan   10.0    3.0   15.0    5.0    7.0    2.0   14.0    6.0   16.0
Count  132.00  2.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000  1.000
Freq     0.93  0.014  0.007  0.007  0.007  0.007  0.007  0.007  0.007  0.007
------------------------------------------------------------
  t_rtpcr
   n  NaN  unique
 140    2       5
       Not take..  Positive  Pending  Negative    nan
Count     126.000     8.000    3.000     3.000  2.000
Freq        0.887     0.056    0.021     0.021  0.014
------------------------------------------------------------
  t_rtpcr_date
  n  NaN  unique
 14  128      11
           nan  02-11-20..  02-15-20..  02-10-20..  02-12-20..  01-30-20..  02-08-20..  02-07-20..  03-01-20..  02-16-20..
Count  128.000       4.000       2.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.901       0.028       0.014       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  t_ag
   n  NaN  unique
 140    2       5
       Not take..  Positive    nan  Pending  Negative
Count     120.000    18.000  2.000    1.000     1.000
Freq        0.845     0.127  0.014    0.007     0.007
------------------------------------------------------------
  t_ag_date
  n  NaN  unique
 20  122      14
           nan  02-07-20..  02-15-20..  02-03-20..  02-17-20..  02-02-20..  03-01-20..  02-06-20..  02-11-20..  02-04-20..
Count  122.000       3.000       3.000       2.000       2.000       1.000       1.000       1.000       1.000       1.000
Freq     0.859       0.021       0.021       0.014       0.014       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  t_med
  n  NaN  unique
 24  118      23
           nan   None  antibiot..  antibiot..  baricici..  Heparin,..  anticoag..  Omeprazo..  Antibiot..  Naproxen..
Count  118.000  2.000       2.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.831  0.014       0.014       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img1_Id
   n  NaN  unique
 138    4     139
         nan  F_2EyPyL..  F_3fqld3..  F_2QnZKx..  F_2pWdIi..  F_1NzwG9..  F_2Ppcwl..  F_3dY8z7..  F_3iIH8d..  F_1dt46q..
Count  4.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq   0.028       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img1_Name
   n  NaN  unique
 138    4     132
         nan  5germ6hy..  3t5yu945..  5tdnhetg..  3fevf4te..  15297333..  0bmerg87..  88jdiefe..  b15.JPG  IMG_8144..
Count  4.000       2.000       2.000       2.000       2.000       1.000       1.000       1.000    1.000       1.000
Freq   0.028       0.014       0.014       0.014       0.014       0.007       0.007       0.007    0.007       0.007
------------------------------------------------------------
  d_img1_Size
   n  NaN  unique
 138    4     132
------------------------------------------------------------
  d_img1_Type
   n  NaN  unique
 138    4       3
       image/jp..  image/he..    nan
Count     117.000      21.000  4.000
Freq        0.824       0.148  0.028
------------------------------------------------------------
  d_img2_Id
  n  NaN  unique
 30  112      31
           nan  F_2qfI6u..  F_TaTzoI..  F_R5qR8m..  F_u4VSYQ..  F_1QfmXY..  F_1HbHAn..  F_2fkvAm..  F_UyBXLX..  F_2q4tmV..
Count  112.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.789       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img2_Name
  n  NaN  unique
 30  112      31
           nan  16460702..  IMG_7691..  IMG-2022..  IMG_8142..  IMG_7687..  IMG_7689..  IMG_7680..  IMG_7694..  20220211..
Count  112.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.789       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img2_Size
  n  NaN  unique
 30  112      31
------------------------------------------------------------
  d_img2_Type
  n  NaN  unique
 30  112       3
           nan  image/he..  image/jp..
Count  112.000      19.000      11.000
Freq     0.789       0.134       0.077
------------------------------------------------------------
  d_img3_Id
  n  NaN  unique
 18  124      19
           nan  F_1DZOId..  F_Ad1sKc..  F_3MuJSA..  F_3lGryd..  F_3G21sH..  F_1ikhJ9..  F_1ly25I..  F_1o6g0f..  F_3PjB7Z..
Count  124.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.873       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img3_Name
  n  NaN  unique
 18  124      19
           nan  16461777..  20220211..  20220301..  IMG_7675..  16461774..  IMG_7682..  IMG_7717..  IMG_7670..  IMG_7698..
Count  124.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000       1.000
Freq     0.873       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007       0.007
------------------------------------------------------------
  d_img3_Size
  n  NaN  unique
 18  124      19
------------------------------------------------------------
  d_img3_Type
  n  NaN  unique
 18  124       3
           nan  image/he..  image/jp..
Count  124.000      12.000       6.000
Freq     0.873       0.085       0.042
============================================================

In [38]:
eda(df)

object
object
float64
object
float64
object
object
object
float64
float64
object
object
object
float64
object
float64
object
object
object
object
object
object
object
float64
object
object
object
float64
object
object
object
float64
object